<!DOCTYPE html>
<htm>

    <head>login</head>

    <body>
        <form action="/login" method="post">
            <label for="PAN">PAN:</label>
            <input type="text" id=PAN name="PAN">

            <button type="submit">Login</button>
        </form>


    </body>

    </html>