<form action='/new' method="post">
    <label for="NAME">NAME:</label>
    <input type="text" id=NAME name="NAME">
    <br>
    <label for="PAN">PAN:</label>
    <input type="text" id=PAN name="PAN">
    <button>submit</button>
</form>