<!DOCTYPE html>
<htm>

    <head>Welcome!</head>
    <br>
    <br>

    <body>
        <form action='/login' method="get">

            <button>Login</button></form>
        <form action='/signup' method="get">
            <button>signup</buttonb></form>
                
    </body>

    </html>